# Compiled object files
*.o

# Binary test files
*.bin

# Compiled webserv executable
/webserv

# Ignore all files inside uploads directories (at any level)
**/uploads/*

# But keep the uploads directories themselves
!**/uploads/.gitkeep

# VS Code settings
settings.json
